*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --nb-color: #266FE8;
    --nb-white: #ffffff;
    --nb-black: #333333;
    --nb-gray: #999;
}

.flex {
    display: flex;
    align-items: center;

    &.direction {
        flex-direction: column;
    }

    &.start {
        align-items: flex-start;
    }

    &.end {
        align-items: flex-end;
    }

    &.center {
        justify-content: center;
    }

    &.between {
        justify-content: space-between;
    }

    &.around {
        justify-content: space-around;
    }

    &.evenly {
        justify-content: space-evenly;
    }

    &.js_end {
        justify-content: flex-end;
    }

    &.main-axis-end {
        justify-content: flex-end;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.stretch {
        align-items: stretch;
    }

    &.alEnd {
        align-items: end;
    }

    &.js_stretch {
        justify-items: stretch;
    }

    &.baseline {
        align-items: baseline;
    }
}

.imgCover{
    // fill: 中文释义“填充”。默认值。替换内容拉伸填满整个content box, 不保证保持原有的比例。
    // contain: 中文释义“包含”。保持原有尺寸比例。保证替换内容尺寸一定可以在容器里面放得下。因此，此参数可能会在容器内留下空白。
    // cover: 中文释义“覆盖”。保持原有尺寸比例。保证替换内容尺寸一定大于容器尺寸，宽度和高度至少有一个和容器一致。因此，此参数可能会让替换内容（如图片）部分区域不可见。
    object-fit:cover;
}
.imgContain{
    object-fit: contain;
}

.p-l-r-14{
    padding-left: 14px;
    padding-right: 14px;
}

.p-t-20{
    padding-top: 20px;
}

.fs16{
    font-size: 16px;
}